.playlistItem {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.itemColumn {
    display: flex;
    align-items: center;
}

.itemColumn:first-child {
    flex: 1;
}

.itemNumber {
    width: 30px;
    font-size: 14px;
    font-weight: 600;
}

.songInfo {
    display: flex;
    align-items: center;
}

.albumCover {
    width: 34px;
    height: 34px;
    background-color: #d9d9d9;
    margin-right: 15px;
}

.albumCoverImage {
    width: 10%;
    height: 10%;
    object-fit: cover;
    margin-right: 15px;
}

.titleArtist {
    display: flex;
    flex-direction: column;
}

.songTitle {
    font-size: 14px;
    font-weight: 600;
}

.artistName {
    font-size: 12px;
    font-weight: 400;
}

.albumName,
.dateAdded {
    font-size: 12px;
    margin-right: 40px;
}

.durationControls {
    display: flex;
    align-items: center;
}

.likeButton {
    width: 11px;
    height: 10px;
    border: 1px solid #000;
    margin-right: 18px;
}

.duration {
    font-size: 12px;
    font-weight: 500;
    margin-right: 18px;
}

.moreOptions {
    display: flex;
    gap: 5px;
}

.dot {
    width: 3px;
    height: 3px;
    background-color: #000;
}

@media (max-width: 991px) {
    .playlistItem {
        padding: 10px 20px;

    }
}

.deleteOption {
    color: red;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
    background-color: #f5f5f5;
    padding: 5px;
    border-radius: 4px;
}

.playlistItem {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.itemColumn {
    display: flex;
    align-items: center;
}

.moreOptions {
    cursor: pointer;
    position: relative;
}

.moreOptions .dot {
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: #000;
    border-radius: 50%;
    margin: 0 2px;
}
