.playlistHeader {
    margin-bottom: 20px;
}

.playlistTitle {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}

.headerRow {
    display: flex;
    border-bottom: 1px solid #2e2e2c;
    padding: 10px 0;
}

.headerColumn {
    display: flex;
    align-items: center;
}

.headerColumn:first-child {
    flex: 1;
}

.headerNumber,
.headerTitle,
.headerAlbum,
.headerDateAdded {
    font-size: 12px;
    font-weight: 400;
    color: #000;
    margin-right: 55px;
}

.durationIcon {
    margin-right: 67px;
}

.headerNumber {
    width: 30px;
}

.durationIcon {
    width: 13px;
    height: 13px;
}

@media (max-width: 991px) {
    .headerRow {
        padding: 10px 20px;
    }
}