.playlistSection {
    width: 100%;
}

.playlistItems {
    margin-bottom: 20px;
}

.decorativeImage {
    width: 17px;
    height: 34px;
    align-self: flex-end;
}

@media (max-width: 991px) {
    .decorativeImage {
        margin-top: 40px;
    }
}

.noResultsMessage {
    padding: 20px;
    font-size: 16px;
    color: #ff4c4c; /* Customize color as needed */
    text-align: center;
}

.editButton, .saveButton {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #ff4c4c; /* Match the noResultsMessage color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
}

.editButton:hover, .saveButton:hover {
    background-color: #e04343; /* Slightly darker on hover */
}

.playlistName {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.playlistName h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.playlistNameInput {
    font-size: 24px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
}