.checkboxWrapper {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #000;
    font: 500 9px Poppins, sans-serif;
}

.checkbox {
    width: 9px;
    height: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    appearance: none;
    cursor: pointer;
}

.checkbox:checked {
    background-color: #000;
}

.checkboxLabel {
    cursor: pointer;
}